.data{
  margin: 1.5rem;
  text-align: left;
  font-family: $font-main;
  font-size: 1rem;
  &__title{
    @include titleFont;
    text-align: center;
    align-self: center;
  }
  &__item{
    @include body-font;
  }
}
.data__component{
  max-width: 18.75rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}
.bold{
  font-weight: bold;
  padding-right: 1rem;
  text-align: left;
}
.data__divider{
  width: 100%;
  border-bottom: 0.0625rem solid $dark;
  padding-top: 2rem;
}
.location__button{
  max-width: 12.5rem;
  height: 2.5rem;
}


@media (min-width: 768px){
.data{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.data__component{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}
.data__divider{
  width: 100%;
  border-bottom: 0.0625rem solid $dark;

}
}
