.data{
  margin: 24px;
  text-align: left;
  font-family: $font-main;
  font-size: 1rem;
  &__title{
    @include titleFont;
    

  }
}
.bold{
  font-weight: bold;
  padding-right: 16px;
}
.data__divider{
  width: 100%;
  border-bottom: 1px solid $dark;
  padding-top: 32px;
}
