label{
  display: inline-block;
 padding-top: 1.5rem;
@include label-font;
}
input, select {
  width: 14.0625rem;
  height: 40px;
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
padding-left: 1.5rem;
padding-right: 1.5rem;
border-radius: 0.5rem;
background-color: $lighter;
}
button{
  height: 2.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: $primary;
  width: 12.5rem;
}
button:hover{
  background-color: $medium;
}
form{
  @include center($flex-direction: column);
  justify-content: space-evenly;
  padding-bottom: 2rem;
  max-width: 12.5rem;
  text-align: left;
}
.edit{
  @include center($flex-direction: column);
&__message{
  padding: 24px;
  @include body-font;
}
}


// .response{
//   max-width: 18.75rem;
//   text-align: center;
//   &__subtitle{
//     @include label-font
//   }
//   &__par{
//     padding: 1.5rem;
//     text-align: left;
//   }
//   &__div{
//     text-align: left;
//   }
// }
@media (min-width: 768px) {
label{
  display: inline-block;
  width: 12.5rem;
}
input{
  display: inline-block;
  width: 12.5rem;
}
}