.form{
  @include center($flex-direction: column);
  justify-content: space-evenly;
  padding-bottom: 32px;
  max-width: 200px;
  text-align: left;
&__label{
  display: inline-block;
  padding-top: 24px;
  @include label-font;
}
&__input{
  max-width: 200px;
  height: 40px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
padding-left: 24px;
padding-right: 24px;
}
&__button{
  height: 40px;
  margin-top: 32px;
  border-radius: 8px;
  background-color: $primary;
}
&__button:hover{
  background-color: $medium;
}
}